<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="RedisConnection" value="35.153.72.165:6992,ssl=false,abortConnect=false" />-->
    <add key="RedisConnection" value="127.0.0.1:6379,ssl=false,abortConnect=false,connectTimeout=10000"/>
    <add key="ClientKeyPrefix" value="FCH" />
    <add key="FileName" value="RedisHashCounts_"/>
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
